.container {
    background-color: var(--bg);
    display: flex;
    gap: 1.5em;
    padding: 1.5em;
    .side-menu {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 300px;
    }
    &__view {
        flex: 1;
    }
}