.container {
  .match {
    padding: 0.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.3em;
      width: 5em;
      margin-inline-end: 1em;

      .hour {
        font-size: 1rem;
        font-weight: 500;
      }

      .day {
        font-size: 0.875rem;
        font-weight: 500;
        color: var(--gray);
      }
    }

    &__scoreboard {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3em;
      height: 50px;
      width: 60px;
      p {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .winner {
        color: green;
      }

      .loser {
        color: red;
      }
    }

    &__teams {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      .team {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5em;

        &2 {
          justify-content: flex-start;
        }

        .name {
          font-size: 0.875rem;
          font-weight: 500;
        }

        .logo {
          height: 50px;
          width: 50px;
        }
      }
    }

    .match__status {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 7em;
      p {
        font-size: 1rem;
        font-weight: 500;
        margin-inline-start: 2em;
      }
    }

    &__event {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5em;
      .logo {
        height: 50px;
        width: 50px;
      }
    }
  }

  .odd {
    background-color: #fff;
  }

  .even {
    background-color: #e8f1ff;
  }
}
