<div class="card">
  <h3 class="title">
    <span class="live">Live</span> now
  </h3>
  <div class="scoreboard">
    <figure class="team">
      <img
        [src]="liveMatch.team1.logoURL"
        alt="Team {{ liveMatch.team1.name }} logo"
        class="logo"
      />
      <figcaption  class="team__name">{{ liveMatch.team1.name }}</figcaption>
    </figure>
    <div class="score">
      {{ liveMatch.team1.score }} - {{ liveMatch.team2.score }}
    </div>
    <figure class="team">
      <img
        [src]="liveMatch.team2.logoURL"
        alt="Team {{ liveMatch.team2.name }} logo"
        class="logo"
      />
      <figcaption class="team__name">{{ liveMatch.team2.name }}</figcaption>
    </figure>
  </div>
</div>
