<a class="scoreboard">
  <div class="scoreboard__title">
    <div class="scoreboard__title-item">
      <div class="scoreboard__title-logo">
        <img src="../../assets/img/vct-americas.png" alt="" srcset="">
      </div>
      <div class="scoreboard__title-name">VCT Americas</div>
    </div>
  </div>

  <div class="scoreboard__item">
    <div class="scoreboard__time">
      <span class="scoreboard__hour">13:50</span>
      <span class="scoreboard__date">25 mar</span>
    </div>
    <div class="scoreboard__team">
      <div class="scoreboard__logo">
        <div class="scoreboard__mold">
          <img src="../../assets/img/2game.png" alt="logo" />
        </div>
        <div class="scoreboard__mold scoreboard__mold--active-right">
          <img src="../../assets/img/eg.png" alt="logo" />
        </div>
      </div>
      <div class="scoreboard__name">
        <span class="scoreboard__team-name">2Game Esports</span>
        <span class="scoreboard__team-name scoreboard__team-name--active">Evil Geniuses</span>
      </div>
    </div>
    <div class="flex-grow-1"></div>
    <div class="scoreboard__score">
      <div class="scoreboard__score-item">0</div>
      <div class="scoreboard__score-item scoreboard__score-item--active">2</div>
    </div>
    <div class="scoreboard__type">BO3</div>
  </div>
  <div class="scoreboard__item">
    <div class="scoreboard__time">
      <span class="scoreboard__hour">13:50</span>
      <span class="scoreboard__date">25 mar</span>
    </div>
    <div class="scoreboard__team">
      <div class="scoreboard__logo">
        <div class="scoreboard__mold scoreboard__mold--active-left">
          <img src="../../assets/img/2game.png" alt="logo" />
        </div>
        <div class="scoreboard__mold">
          <img src="../../assets/img/eg.png" alt="logo" />
        </div>
      </div>
      <div class="scoreboard__name">
        <span class="scoreboard__team-name scoreboard__team-name--active">2Game Esports</span>
        <span class="scoreboard__team-name">Evil Geniuses</span>
      </div>
    </div>
    <div class="flex-grow-1"></div>
    <div class="scoreboard__score">
      <div class="scoreboard__score-item scoreboard__score-item--active">0</div>
      <div class="scoreboard__score-item">2</div>
    </div>
    <div class="scoreboard__type">BO3</div>
  </div>
</a>
