<div class="container">
    <h3 class="title">Matches</h3>
    <ul class="menu">
        <li class="item">
            <a [routerLink]="['all']" routerLinkActive="btn-active"  class="btn">
                All
            </a>
        </li>
        <li class="item">
            <a [routerLink]="['live-now']" routerLinkActive="btn-active"  class="btn">
                Live now
            </a>
        </li>
        <li class="item">
            <a [routerLink]="['upcoming']" routerLinkActive="btn-active"  class="btn">
                Upcomming
            </a>
        </li>
        <li class="item">
            <a [routerLink]="['results']" routerLinkActive="btn-active"  class="btn">
                Results
            </a>
        </li>
    </ul>
    <div class="matches">
        <router-outlet></router-outlet>
    </div>
</div>
