.container {
  background-color: var(--white);
  padding: 1.5em;
  border-radius: 18px;

  .title {
    color: var(--gray);
    font-size: 2.5rem;
    font-weight: 700;
    margin-block-end: 0.5em;
  }
  .menu {
    display: flex;
    gap: 1em;
    .item {
      display: flex;
      min-width: 9em;
      min-height: 2.5em;
      .btn {
        flex: 1;
        color: var(--black);
        font-size: 1.25rem;
        font-weight: 700;
        opacity: 0.6;
        cursor: pointer;

        &-active {
          border-bottom: 3px solid var(--blue) !important;
          opacity: 1 !important;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
